$primaryColor: #1d7bef;
$fontColor: #041831;
$fontGrayColor: #7C7F8B;
$grayColor: #a0acba;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.flex-between-s {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-start-center {
    display: flex;
    justify-content: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-start-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.flex-start-col-width {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.text-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.ft-size-14 {
    font-size: 14px;
}

.ft-size-12 {
    font-size: 12px;
}

.ft-size-18 {
    font-size: 18px;
}

.ft-size-24 {
    font-size: 24px;
}

.ft-size-56 {
    font-size: 56px;
}

.font-weight{
    font-weight: bold;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-30{
    margin-right: 30px;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-t-10 {
    margin-top: 10px;
}

.m-y-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-card {
    background: #FFFFFF;
    box-shadow: 1px 10px 35px 0px rgba(214, 220, 245, 0.3);
    border-radius: 16px;
    margin: 20px 10px;
}

.display-inline-b {
    display: inline-block;
}

.width-150 {
    width: 150px;
}

.width-130 {
    width: 130px;
}

.width-110 {
    width: 100px;
}

.width-115 {
    width: 120px;
}

.width-100{
    width: 100%;
}

.divider-line {
    height: 1px;
    width: 100%;
    background: #EBEEF5;
}

.primary-color {
    color: $primaryColor;
}

.cursor-pointer {
    cursor: pointer;
}

.border-gray {
    border: 1px dashed #cccccc;
    border-radius: 5px;
    padding: 10px 25px;
}

.line-height-25 {
    line-height: 25px;
}

.ft-size-28 {
    font-size: 28px;
}

.ft-size-14 {
    font-size: 14px;
}

.text-right {
    text-align: right;
}

.tetx-left {
    text-align: left;
}

.color-success {
    color: #67C23A;
}

.color-primary {
    color: $primaryColor;
}

.color-error{
    color: #F56C6C; 
}

.p-y-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.m-r-60{
    margin-right: 60px;
}

.m-b-10 {
    margin-bottom: 10px;
}
.m-t-10 {
    margin-top: 10px;
}

.mt-14 {
    margin-top: 14px;
}

.draft-detail-title{
    font-size: 14px;
    font-weight: 400;
    color: #7C808A;
    line-height: 13px;
    margin-bottom: 10px;
}

.draft-detail-line{
    width: 100%;
    height: 1px;
    background: #EEEFF2;
    margin-bottom: 20px;
}
.bill_status_tag_red{
    font-size: 14px;
    font-weight: 400;
    color: #F21534;
    line-height: 12px;
}
.bill_status_tag{   
    font-size: 14px;
    font-weight: 400;
    color: #36AC2D;
}
.bill_status_tag_cercile{
    width: 8px;
    height: 8px;
    background: #36AC2D;
    border-radius: 50%;
}
.bill_status_tag_cercile_red {
    width: 8px;
    height: 8px;
    background: #F11534;
    border-radius: 50%;
}

.el-table__row {
    .draft_list_bg{
        background: #FAFBFD;
    }
}

#app .sidebar-container .scrollbar-wrapper{
    background: #00152A;
}
#app .submenu-title-noDropdown{
    background-color: #00152A !important;
}
.el-submenu__title{
    background: #00152A !important;
}
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title, #app .sidebar-container .el-submenu .el-menu-item {
    background: #00152A !important;
}
.el-submenu.is-opened {
    .el-submenu__title{
        color: #FFFFFF !important;
    }
}
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title, #app .sidebar-container .el-submenu .el-menu-item.is-active {
    background: #0072FF !important;
    color: #FFFFFF !important;
}

.el-input-group__append{
    padding: 0 !important;
    width: 82px !important;
    height: 40px !important;
    .el-button{
        padding: 0 !important;
        position: absolute;
        left: 19px;
        bottom: 10px;
        border: none !important;
        span {
            display: inline-block;
            width: 82px;
            height: 30px;
            img {
                width: 82px;
                height: 30px;
                border-radius: 6px;
            }
        }
    }
}
.color-gray{
    color: #7B7F8A;
}
